<div class="header-wrap">
<div class="hgroup-wrap">
<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
</div>
<div class="icon-link-wrapper">
  <a href="https://github.com/peterdotjs" rel="nofollow" class="icon-link github" title="GitHub"></a>
  <a href="#" class="icon-link linkedin" rel="nofollow" title="LinkedIn"></a>
  <a href="#" class="icon-link resume" rel="nofollow" title="Resumé"></a>
  <a href="mailto:peter.j.shin@gmail.com" rel="nofollow" class="icon-link contact" title="Contact"></a>
</div>
</div>
