body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background: $body-bg-img;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  z-index: 1;
  clear: both;
  position: relative;
  margin-top: -47px;
  height: 47px;
  .footer-wrap {
    padding: 10px 0;
    background: $footer-bg;
    @include gradient($footer-gradient-from,$footer-gradient-to,bottom);
    margin: 0 auto;
    max-width: 1100px;
    min-width: 700px;
  }
  .credit {
    float: right;
    margin-right: 55px;
  }
  a {
    //@include link-colors($footer-link-color, $footer-link-color-hover);
    color: darkgrey;
    &:hover {
      color: grey;
    }
    &:visited {
      color: darkgrey;
    }
  }
  p {
    padding-left: 55px;
    margin: auto 0;
  }
}
