<a role="button" aria-controls="mobile-menu-list" href="javascript:;" title="navigation-menu" id="mobile-menu">
	<div></div>
</a>
<ul id="mobile-menu-list" role="menu" aria-expanded="false">
	<li role="menuitem"><a {% if page.theme == "blue" %} class="selected" {% else %} class="" {% endif %} href="/">About</a></li>
	<li role="menuitem"><a {% if page.theme == "green" %} class="selected" {% else %} class="" {% endif %} href="/projects">Projects</a></li>
	<li role="menuitem"><a {% if page.theme == "red" %} class="selected" {% else %} class="" {% endif %} href="/blog">Blog</a></li>
	<li role="menuitem"><a href="https://github.com/peterdotjs">Github</a></li>
	<li role="menuitem"><a href="http://www.linkedin.com/in/peterjshin">Linkedin</a></li>
	<li role="menuitem"><a class="contact" href="mailto:peter.j.shin@gmail.com">Contact</a></li>
</ul>
