<div id="mobile-menu">&#9776;</div>
<ul id="mobile-menu-list">
	<li><a {% if page.theme == "blue" %} class="selected" {% else %} class="" {% endif %} href="/">About</a></li>
	<li><a {% if page.theme == "green" %} class="selected" {% else %} class="" {% endif %} href="/projects">Projects</a></li>
	<li><a {% if page.theme == "red" %} class="selected" {% else %} class="" {% endif %} href="/blog">Blog</a></li>
	<li><a href="https://github.com/peterdotjs">Github</a></li>
	<li><a href="http://www.linkedin.com/in/peterjshin">Linkedin</a></li>
	<li><a href="mailto:peter.j.shin@gmail.com">Contact</a></li>
</ul>
