// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.about-me-container {
	text-align: center;

	.about-me {
		margin-bottom: 20px;
		display: inline-block;
	}

	.profile-photo img {
		width: 300px;
                @include image-border($main-bg,$footer-bg);
	}
}
