// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@mixin transformOrigin($prop) {
  -webkit-transform-origin: $prop;
  -moz-transform-origin: $prop;
  -ms-transform-origin: $prop;
  -o-transform-origin: $prop;
  transform-origin: $prop;
}

//about page
.about-me-container {
	text-align: center;
	padding-top: 0 !important;
  max-width: 840px;
  margin: 0 auto;
  margin-top: 20px;
  float: none !important;
	opacity: 0;
	@include transition(opacity 2s ease-in-out);
	.about-me {
		display: inline-block;
		color: black;
		padding: 18px;
		font-size: 20px;
		line-height: 40px;
    vertical-align: top;
    margin-left: 12px;
    margin-top: 90px;

		.description {
			margin: 0px;
		}
	}

	.profile-photo {
    display: inline-block;
		margin-top: 40px;
		a {
			@include border-radius(4px 4px 0 0);
			@include box-shadow(0px 0px 10px black);
			//@include rotate(3deg);
		}
	}
}

//fade in transition
html.loaded {

	.about-me-container {
		opacity: 1;
	}

}

html, body {
  min-width: 500px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

//$project-link-hover-color: #0181EB;
$project-link-hover-color: black;

//project page
#main #content .project-wrapper {
  display: block;
  padding: 0;
  overflow: hidden;
  width: auto;
  float: none;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 840px;

  .project {
    padding: 20px;
    padding-right: 0px;
    margin: 5px 5px 15px 5px;
    overflow: hidden;
    position: relative;
    @include border-radius(4px);
    min-height: 128px;
    img.project-icon {
      @include border-radius(15px);
      position: absolute;
      left: 25px;
      top: 15px;
      @include box-shadow(-5px 6px 4px 0px silver);
      @include transition(all 0.5s);
      &:hover , &:active {
          @include scale(1.1);
      }
    }
    .project-info {
      margin-left: 160px;
      margin-top: 0px;
      margin-bottom: 20px;
      .project-title {
        margin-bottom: 7px;
        a {
          padding-bottom: 3px;
          border-bottom: 2px solid black;
        }
      }
      .project-description {
        padding: 5px 5px 5px 0px;
        position:relative;
        top: 10px;
      }
    }
  }
}

//for tab resize

$install-border-color: #ccc;

.install-wrapper {
  margin: 25px;
  text-align: center;
  .install-button {
    cursor: pointer;
    width: 128px;
    height: 128px;
    border: none;
    @include box-shadow(-5px 6px 4px 0px silver);
    @include border-radius(15px);
    @include transition (all 0.5s);
    &:hover, &:active {
      @include scale(1.1);
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

$icon-link-url:url('../images/icon_sprite_small.png') no-repeat;

@mixin icon-url($x, $y){
  background: $icon-link-url $x $y;
}


header {

    .hgroup-wrap {
      position: absolute;
    }

    hgroup {
      width: 178px;
      height: 46px;
      padding: 23px;
      position: relative;
      top: 12px;
      display: inline-block;

      h1 {
        height: 100%;
        width: 100%;
        position: relative;

        a {
      	  width: 100%;
      	  height: 100%;
      	  top: -18px;
      	  left: -11px;
      	  z-index: 5;
      	  position: absolute;
      	  @include text-shadow(1px 1px 1px white);
        }
      }
  }

  .icon-link-wrapper {
    display: inline-block;
    float: right;
    margin: 22px 120px 22px 0;
    .icon-link {
      height: 34px;
      width: 34px;
      display: inline-block;
      cursor: pointer;
      @include transition(box-shadow 0.3s ease-in-out);
      @include border-radius(4px);

      &.linkedin {
	@include icon-url(-34px,0);
	&:hover, &:focus {
	  @include icon-url(-34px, -34px);
	}
      }

      &.github {
        @include icon-url(0,0);
	@include border-radius(17px);
	&:hover, &:focus {
          @include icon-url(0,-34px);
	}
      }

      &.resume {
	@include icon-url(-68px,0);
	&:hover, &:focus {
	  @include icon-url(-68px, -34px);
	}
      }

      &.contact {
        @include icon-url(-102px,0);
	&:hover, &:focus {
	  @include icon-url(-102px, -34px);
	}
      }
    }
  }
}

nav{
   height: 20px;
  .navigation-wrap {
    max-width: 244px;
    overflow: hidden;
    margin: 0 auto;

    .main-navigation {
      position: absolute;
      top: -63px;

      a {
	text-shadow: none;
	padding: 5px 17px;
	background: transparent;
	color: darkgrey;
	position: relative;
	top: 0;
	@include transition(top 0.5s, color 0s);

	&.selected {
	  color: white;
	}

	&.unselected {
	  &:hover, &:focus {
	    top: 5px;
	    color: white;
	  }

	  &:active {

	  }
	}

	&:hover {
	  text-decoration: none;
	}
      }
    }
  }
}

.blog-index {
	margin: 0px;
	width: auto !important;
}

.hentry {
  padding-top: 0px;
	margin: 0px;
}

$blue-theme: lightblue;
$green-theme: lightblue;
$red-theme: lightblue;

#wrap.blue {
  #main {
    margin-bottom: 0px;
  }
}

#wrap.green {

  #main {
    margin-bottom: 0px;
  }

  hgroup {

    &:after {
      background: $green-theme;
      border: 6px solid $green-theme;
    }
  }
}

#wrap.red {

   nav ul.main-navigation {
        a.blog {

        }
   }

    hgroup {

      &:after {
        background: $red-theme;
        border: 6px solid $red-theme;
      }
    }
}

@media only screen and (min-width: 992px) {
    header hgroup {
       width: 224px;
    }
    nav .navigation-wrap {
      max-width: 268px;
      .main-navigation {

       a {

       }
      }
    }
}

.hidden {
	display: none !important;
}

ul {
  list-style-type: none;
}

#mobile-menu {
  position: absolute;
  top: 12px;
  right: 50px;
  z-index: 10;
  cursor: pointer;
  color: white;
  visibility: hidden;
  @include border-radius(3px);
  border: 2px solid transparent;

  div {
    height: 10px;
    width: 60px;
    margin: 5px;
    border-top: 30px double white;
    border-bottom: 10px solid white;
    font-size: 0;
  }

  &:hover {
     border-color: grey;
  }

}

#mobile-menu-list {
  display: none;
  background: none repeat scroll 0 0 black;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0;
  position: absolute;
  top: 79px;
  right: 0px;
  width: 0px;
  opacity: 0;
  z-index: 100;
  border-left: 1px solid grey;
  @include transition(all 0.5s ease-in-out);
  @include border-radius(5px 0 0 5px);

  li {
    a {
      border-bottom: 1px solid grey;
      padding: 40px 70px;
      color: darkgrey;
      font-size: 35px;
      display: block;
      &.contact {
        border-bottom: 0px;
      }
      &:visited {
        color: darkgrey;
      }
      &.selected, &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
      &:hover, &:focus {
        @include box-shadow(inset 0px 0px 3px 3px white);
      }
    }
  }
}

@media only screen and (max-width:992px) and (min-width:801px) {

  header hgroup h1 a {
    top: -14px;
  }

}

@media only screen and (max-width: 800px) {

  body.iOS {
    #header {
      #mobile-menu-list {
        display: none;
      }
      &.open-mobile-menu {
        #mobile-menu-list {
          display: block;
        }
      }
    }
  }

  .entry-title {
    line-height: 40px;
  }

  .about-me-container {
    margin-top: 0px !important;
    max-width: 780px;
    .about-me {
      margin-top: 0px;
      padding: 18px 15px;
      margin-left: 0px;
    }
  }

  #header {
    position: relative;
    &.open-mobile-menu {
      #mobile-menu-list {
        right: 0px;
        opacity: 1;
        width: 400px;
        visibility: visible;
      }
      #mobile-menu {
        border-color: silver;
      }
    }
  }

  .icon-link-wrapper, nav {
    visibility: hidden;
  }

  #mobile-menu {
    visibility: visible;
  }

  #mobile-menu-list {
    display: block;
    visibility: hidden;
  }

  #main #content ul  {
    margin-left: 0px;
  }

  header hgroup {
    width: 222px;
    padding: 15px;
    left: 28px;

    h1 a {
      font-size: 48px;
      top: -4px;
    }
  }

  .profile-photo {
    &:hover {
      a {
        &:before {
          background: transparent !important;
          @include box-shadow(0 0 100px 50px transparent !important);
        }
      }
    }
  }
}

//image styles

.profile-photo {
  width: 300px;
  height: 300px;
  margin: 20px auto 0px auto;
  @include perspective(1000px);

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/profile2_mod.png");
    background-size: 0, cover;
    @include transform-style(preserve-3d);
    @include rotate(3deg);
    @include transition(all 0.5s);

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 36px;
      background: inherit;
      background-size: cover, cover;
      background-position: bottom;
      @include transform(rotateX(90deg));
      @include transformOrigin(bottom);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      @include box-shadow(0 0 100px 50px white);
      @include transition(all 1s);
      opacity: 0.15;
      @include transform(rotateX(95deg) translateZ(-80px) scale(0.75));
      @include transformOrigin(bottom);
    }

    span {
      color: white;
      text-transform: uppercase;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      font: bold 12px/36px Montserrat;
      text-align: center;
      @include transform(rotateX(-87deg));
      @include transformOrigin(top);
      z-index: 1;
    }
  }

  &:hover {
    a {
      @include transform(rotateX(70deg));
      @include transformOrigin(bottom);

      &:before {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        @include box-shadow(0 0 25px 25px rgba(0, 0, 0, 0.5));
        @include transform(rotateX(0) translateZ(-60px) scale(0.85));
      }
    }
  }
}
